language: python
sudo: false
dist: trusty

compiler:
  - clang
  - gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - check
    - libssl-dev
    - python3-pip
    - valgrind
    - gcc-5
    - libc++-dev

cache:
  directories:
  - $HOME/libsodium

python:
  - "3.5"
  - "3.6"
  - "pypy3"

install:
  - ./travis-install-libsodium.sh
  - export PKG_CONFIG_PATH=$HOME/libsodium/lib/pkgconfig:$PKG_CONFIG_PATH
  - export LD_LIBRARY_PATH=$HOME/libsodium/lib:$LD_LIBRARY_PATH
  - pip install pycparser ctypeslib2 cffi
  - pip install .[dev]

script:
  - PYTHONPATH=.:$PYTHONPATH ./test-travis.sh

